body{
    margin:0 ;
    font-family: 'Roboto', sans-serif;
}

.mission-{
    display: flex;
    
}

.person img{
    width: 40%;
    padding-left: 20%;
    
}

.stay{
    font-size: 55px;
    margin-left: 120px;
    margin-top: 180px;
    font-family: 'Josefin Sans', sans-serif;
    border-left: 5px solid #FF5959;
    border-radius: 5px;
}
span{
    color: #FFAD5A;
}

.text{
    margin-left: 120px;
    font-size: 20px;
    font-weight: 600;
}

a{
    text-decoration: none;
    padding:20px;
    margin-left: 120px;
    background-color: #FF5959;
    border-radius: 200px;
    font-weight: 600;
    color: white;
}

.middel{
    font-size: 45px;
    margin-top: 120px;
    text-align: center;
}

.dream{
    display: flex;
    width:70%;
}

.img{
    width:500px;
}

.box{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50px;
    
}

h3{
    font-size:30px;
    padding-left:30px;
    color:#4d4a33;
}

.first{
    background-color: #edf5f6;
}

.mid{
    background-color: #ffeeee;
}

.last{
    background-color: #fff4d6;
}

.dream p{
    padding-left: 10px;
    font-weight: 700;
}